/* The Tag selector*/
body {
    background-color: bisque;
}
img {
    
    height: 100px;
    width: 100px;
    
}
p {
    color: blue;
}
/* dimension: px, %, em*/
/*color: name,#0000*/

/*class selector*/
.First_para{
    color: red;
}
.red_apple{
    background-color: green;
    margin-top: 40;
    /*position: fixed;*/
    position: sticky;
    bottom: 10;
    right: 10;
    
}
.green_apple{
    background-color: red;
    position: sticky;
    bottom: 40;
    right: 40;
}
.circular{
    border-radius: 100%;
}
/* id selector*/
#special{
    font-weight: bold;
    color: rgb(24, 12, 75);
    background-color: rgba(196, 161, 48, 0.493);

}
/* grouping the selector*/
.ekGroup, h1 {
    
    color: rgb(115, 68, 103);
    background-color: rgb(46, 211, 248);
    font-weight: bold;
}
/*psuedo selector*/
.apple{
    color: brown;
}
.apple:hover{
    background-color: gold;
    color: darkgreen;
    font-weight: bold;

}
/* playing with div and display*/
.square100{
    height: 100px;
    width: 100px;
}
.firstBox{
    background-color: red;
    
}

.secondBox{
    background-color:green;
    margin-inline-start: 10px;
    position: relative;
    bottom: 90px;
    /*display: none;*/
    /*visibility: hidden;*/
    
}

.thirdBox{
    background-color: royalblue;
    margin-inline-start: 20px;
    position: relative;
    bottom: 180px;
    
   
}

