/*defining the global variable*/
:root{
    --primaryColor: #6096B4;
    --primaryAccentColor: #286180;
    --backgroundColor:#EEE9DA;
    /* --myTitleFont: 'Yesteryear', cursive; */
    --myTitleFont: 'Sacramento', cursive;
    --fontDefaultTextfont:'Lato', sans-serif;
    --fontDefaultHeading:'Montserrat', sans-serif;
}
/*main css*/
body{
    margin: 0px;
    color:var(--primaryColor);
    font-family: var(--fontDefaultHeading);
    line-height: 2;
}
/* .headingGroup{
    /* padding: 20px; */
    /* display: inline-block; */
    /* margin-top: 100px; */
    

/*var function for using variables*/
h2{
    font-family: var(--fontDefaultHeading);
    margin: 0;
    font-size: 1.75rem;  /*1 em= 16px*/
    padding-bottom: 20px;
}

.top_section{
    /* color:var(--primaryColor); */
    background-color:var(--backgroundColor);
    height: 400px;
    padding-top: 80px;
    text-align:center ;


}

.heading{
    font-size: 4.75rem;
    /* font size is not recommended in pixels*/
    margin: 0;
    
/*     
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Lato', sans-serif; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
    font-family: var(--myTitleFont);
    
    
}

.top_cloud{
    position: absolute;
    margin-block-start: -30px;
    margin-left:300px;
    width: 100px;
}
.bottom_cloud{
    
    position: absolute;
    margin-block-start: 50px;
    margin-left:-400px;
    width: 100px;

}
.mountain{
    position: absolute;
    margin-block-start: 20px; 
    margin-left:-177px; 
    width: 300px;
    height: 200px; 
    padding-bottom: 0%;
    
}
.profilepic{
    border-radius: 100%;
    width: 200px;
    margin: 100px auto 50px auto; /*top right bottom left*/
    display: block;
   
    
}
.middle_section{
    margin: 50px auto 100px auto;
    text-align: center;
    width: 60%;
}
.intro{
    width: 75%;
    margin: auto;
    /* line-height: 2; */
}
hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted var(--backgroundColor) 5px; /*border width on 0px horizontal line*/
    border-bottom: none;
    width: 5%;
}
.skill-image{width: 150px;

}
.my-skills{
    margin-bottom: 60px;
}
/* float */
.left{
    float: left;
    margin-right: 40px;
}
.right{
    float: right;
    margin-left: 40px;
}
.skill-row{
    text-align: left;
    margin-bottom: 80px;
}

.contact{
    /* text-decoration: none;
    color: white; */
    background-color: var(--primaryColor);
    font-size: 1.75rem;
    padding: 10px 20px; /* verticle horizontal*/
    border-radius: 20px;
}
.contact:hover{
     background-color: var(--primaryAccentColor);
}
a{
    text-decoration: none;
    color: white;
}

.social{
    padding: 40px 0;
}
.social-link{
    margin: 0px 40px;
}
.social-link:hover{
    color: var(--primaryAccentColor);
}
.bottom-section{
    margin: 0px auto ;
    /* padding: 200px auto; */
    text-align: center;
    background-color: var(--primaryColor);
}
.copyright{
    margin: 0;
    padding-bottom: 40px;
    color: white;
    font-size: 0.75rem;
}