/*.element{
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-color: black;
    
    animation: pulse 5s infinite;

}


@keyframes pulse{
    0%,100%{
        background-color: aqua;
    }
    50%{
        background-color: cornflowerblue;
    }
}

.element:hover{
    animation: resizer 500ms infinite; 
}
@keyframes resizer{
    0%,100%{
       transform: scale(1.0);
       animation-iteration-count: 1;
       /* transform: rotate(30deg); */
  
  /*     background-color: aqua;
    }
    50%{
        transform: scale(0.25);
         background-color: cornflowerblue;
    }
}

.rotate{
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-color: black;
    
  

}
.rotate:hover{
  animation: rotater 5s infinite;
}
@keyframes rotater{
    0%,100%{
       
       transform: rotate(30deg);
       background-color: rgb(54, 153, 153);
    }
    50%{
        transform: rotate(60deg);
         background-color: rgb(71, 106, 172);
    }
}*/
/* 
.circular{
    height:250px;
    width:250px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; */
    /* you can use pause such that when you hover on element it will pause */

/* } */

/* @keyframes stretch{
    0%{
        transform: scale(.3);
        background-color: red;
        border-radius: 100%;

    }

    50%{
        background-color: orange;
    }

    100%
{
    transform: scale(1.5);
    background-color: yellow;
}} */

.box{
    background-color: red;
    border-radius: 100%;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    animation-name: moveDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}
@keyframes moveDown{
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(200px,400px);
    }
    100%{
        transform: translate(400px,0px);
    }
}